# Copy this file to `.env.vps` and replace values.

DB_USERNAME=postgres
DB_PASSWORD=change_me_strong_password
DB_NAME=rangoon_fb

JWT_SECRET=change_me_super_secret_jwt

# Put your real domain here (or public IP for first test)
CORS_ORIGIN=http://YOUR_SERVER_DOMAIN_OR_IP
